{
   "adDelay"  : 60,
   "x" : 0,
   "y" : 0,
   "xscale" : 1,
   "yscale" : 1,
   "dontScaleOnIPAD" : true,
   "animation" : {
      "enabled" : false,
      "duration" : 2000,
      "targetx" : 0,
      "targety" : -80
   },
   "networks" : [
      {
         "name"   : "admediator_inmobi",
         "weight" : 25,
         "backfillpriority" : 1,
         "networkParams" : {
            "clientKey" : "YOUR_INMOBI_APP_KEY",
            "test" : true
         }
      },
      {
         "name"   : "admediator_inneractive",
         "weight" : 25,
         "backfillpriority" : 2,
         "networkParams" : {
            "clientKey" : "YOUR_INNERACTIVE_APP_KEY"
         }
      },      
      {
         "name"   : "admediator_admob",
         "weight" : 25,
         "backfillpriority" : 3,
         "networkParams" : {
            "publisherId" : "YOUR_ADMOB_PUBLISHER_ID",
            "appIdentifier" : "com.yourcompany.AdMediatorSampleApp",
            "test" : true
         }
      },      
      {
         "name"   : "admediator_herewead",
         "weight" : 25,
         "backfillpriority" : 4,
         "networkParams" : {
            "channelId" : "YOUR_HEREWEAD_CHANNELID",
            "zoneId" : "0",
            "test" : true
         }
      },      
      {
         "name"   : "admediator_houseads",
         "weight" : 0,
         "backfillpriority" : 5,
         "networkParams" : [
            {"image":"http://he2apps.com/okey/adsv2/chatkapi.png","target":"http://bit.ly/houseads_target1"},
            {"image":"http://he2apps.com/okey/adsv2/komikreplikler.jpg","target":"http://bit.ly/houseads_target2"},
            {"image":"http://he2apps.com/okey/adsv2/2resim5fark.jpg","target":"http://bit.ly/houseads_target3"}
         ]
      }
   ]
}
